<%= render 'shared/errors', object: @profile %>

<% if @profile.social_networks.any? %>
  <% @profile.social_networks.each do |network| %>
    <%= render 'shared/errors', object: network %>
  <% end %>
<% end %>

<h2 class='heading-2'><%= t('.title') %></h2>

<%= form_with(model: @profile) do |f| %>
  <div class="field">
    <%= f.label :title, class: 'label_primary' %>
    <%= f.text_field :title, class: 'field_primary' %>
  </div>

  <div class="field">
    <%= f.label :about_me, class: 'label_primary'  %>
    <%= f.text_area :about_me %>
  </div>

  <div class="field border-2 border-black p-4">
    <%= f.label :pronoun, class: 'label_primary'  %>
    <%= f.select :pronoun, @pronoun_list, { include_blank: "" }, class: 'field_primary border border-gray' %>
    <%= f.label :other_pronoun, class: 'label_primary'  %>
    <%= f.text_field :other_pronoun, class: 'field_primary' %>
    <div class="flex my-6 items-center">
      <%= f.check_box :display_pronoun, class: 'mr-4' %>
      <%= f.label :display_pronoun %>
    </div>
  </div>

  <div class="field">
    <%= f.label :city, class: 'label_primary'  %>
    <%= f.text_area :city %>
    <div class="flex my-6 items-center">
      <%= f.check_box :display_city, class: 'mr-4' %>
      <%= f.label :display_city %>
    </div>
  </div>

  <div class="">
    <%= f.label :birth, class: 'label_primary'  %>
    <%= f.date_field :birth, class: 'field_primary border mt-3'  %>
    <div class="flex my-6 items-center">
      <%= f.check_box :display_birth, class: 'mr-4' %>
      <%= f.label :display_birth  %>
    </div>
  </div>

  <div class="field  border-2 border-black p-4">
    <%= f.label :gender, class: 'label_primary'  %>
    <%= f.select :gender, @gender_list, { include_blank: "" }, class: 'field_primary border border-gray' %>    
    <%= f.label :other_gender, class: 'label_primary'  %>
    <%= f.text_field :other_gender, class: 'field_primary' %>
    <div class="flex my-6 items-center">
      <%= f.check_box :display_gender, class: 'mr-4' %>
      <%= f.label :display_gender %>
    </div>
  </div>

  <div class="my-3">
    <%= f.label :profile_picture %>
    <%= f.file_field :profile_picture %>
  </div>

  <h3 class='heading-2 text-2xl'><%= t('.social_networks') %></h3>

  <div class="field">
    <%= f.label :my_site, class: 'label_primary' %>
    <%= f.text_field :my_site, name: 'profile[social_networks][network_1][url]', class: 'field_primary' %>
    <%= f.hidden_field :social_networks, name: 'profile[social_networks][network_1][social_network_type]', value: '0', class: 'field_primary' %>
  </div>

  <div class="field">
    <%= f.label :youtube, class: 'label_primary' %>
    <%= f.text_field :youtube, name: 'profile[social_networks][network_2][url]', class: 'field_primary' %>
    <%= f.hidden_field :social_networks, name: 'profile[social_networks][network_2][social_network_type]', value: '1', class: 'field_primary' %>
  </div>

  <div class="field">
    <%= f.label :twitter, class: 'label_primary' %>
    <%= f.text_field :twitter, name: 'profile[social_networks][network_3][url]', class: 'field_primary' %>
    <%= f.hidden_field :social_networks, name: 'profile[social_networks][network_3][social_network_type]', value: '2', class: 'field_primary' %>
  </div>

  <div class="field">
    <%= f.label :github, class: 'label_primary' %>
    <%= f.text_field :github, name: 'profile[social_networks][network_4][url]', class: 'field_primary' %>
    <%= f.hidden_field :social_networks, name: 'profile[social_networks][network_4][social_network_type]', value: '3', class: 'field_primary' %>
  </div>

  <div class="field">
    <%= f.label :facebook, class: 'label_primary' %>
    <%= f.text_field :facebook, name: 'profile[social_networks][network_5][url]', class: 'field_primary' %>
    <%= f.hidden_field :social_networks, name: 'profile[social_networks][network_5][social_network_type]', value: '4', class: 'field_primary' %>
  </div>


  <%= f.submit 'Criar perfil', class: 'btn_primary' %>
<% end %>