<%= form_with model: event_task, data: { turbo: false } do |f| %>
  <div>
    <%= f.label :name, class: 'label-primary' %>
    <%= f.text_field :name, class: 'field-primary' %>
    <% if event_task.errors[:name].any? %>
      <span class="text-red-500 text-sm"><%= event_task.errors.full_messages_for(:name).first %></span>
    <% end %>
  </div>
  <div>
    <%= f.label :description, class: 'label-primary' %>
    <%= f.text_area :description, class: 'text-area' %>
    <% if event_task.errors[:description].any? %> 
      <span class="text-red-500 text-sm"><%= event_task.errors.full_messages_for(:description).first %></span>
    <% end %>
  </div>
  <div>
    <%= f.label :certificate_requirement, class: 'label-primary' %>
    <%= f.collection_radio_buttons :certificate_requirement, EventTask.certificate_requirements.keys.map { |key| [EventTask.human_enum_name(:certificate_requirement, key), key] }, :second, :first do |b| %>
      <div>
        <%= b.radio_button %>
        <%= b.label %>
      </div>
    <% end %>
    <% if event_task.errors[:certificate_requirement].any? %> 
      <span class="text-red-500 text-sm"><%= event_task.errors.full_messages_for(:certificate_requirement).first %></span>
    <% end %>
  </div>
  <div class="col-span-2">
        <%= f.label :event_content_ids, class: "block text-sm font-medium text-gray-700" %>
          <% if contents.blank? %>
            <p> <%= t('.no_contents') %></p>
          <% else %>
            <%= f.collection_check_boxes(:event_content_ids, contents, :id, :title) do |b| %>
                <%= b.check_box %>
                <%= b.label(class: "text-sm text-gray-900 mr-2") %>
            <% end %>
          <% end %>
      </div>
  <div>
    <%= f.submit t('.save'), class: 'btn-primary'%>
  </div>
<% end %>

