<%= form_with model: event_task, data: { turbo: false }, class: 'form_model' do |f| %>
  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name, class: 'field_primary' %>
    <% if event_task.errors[:name].any? %>
      <span class="text-red-500 text-sm"><%= event_task.errors.full_messages_for(:name).first %></span>
    <% end %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
    <% if event_task.errors[:description].any? %> 
      <span class="text-red-500 text-sm"><%= event_task.errors.full_messages_for(:description).first %></span>
    <% end %>
  </div>
  <div>
    <%= f.label :certificate_requirement %>
    <%= f.collection_radio_buttons :certificate_requirement, EventTask.certificate_requirements.keys.map { |key| [EventTask.human_enum_name(:certificate_requirement, key), key] }, :second, :first do |b| %>
      <div>
        <%= b.radio_button %>
        <%= b.label class: 'label_primary' %>
      </div>
    <% end %>
    <% if event_task.errors[:certificate_requirement].any? %> 
      <span class="text-red-500 text-sm"><%= event_task.errors.full_messages_for(:certificate_requirement).first %></span>
    <% end %>
  </div>
  <div class="col-span-2 mt-8">
        <%= f.label :event_content_ids %>
          <% if contents.blank? %>
            <p> <%= t('.no_contents') %></p>
          <% else %>
            <%= f.collection_check_boxes(:event_content_ids, contents, :id, :title) do |b| %>
                <%= b.check_box %>
                <%= b.label(class: "label_primary ml-2 mr-4") %>
            <% end %>
          <% end %>
      </div>
  <div>
    <%= f.submit t('.save'), class: 'btn_primary'%>
    <%= link_to 'Cancelar', event_task, class: 'btn_primary' %>
  </div>
<% end %>
