<div class="flex">
  <h2 class="heading-2"><%= @event_task.name %></h2>
  <div class="ml-5 pt-2">
    <%= link_to edit_event_task_path(@event_task), data: { turbo: false }, title: 'Editar' do %>
      <%= image_tag 'pencil_edit.png', id: 'pencil_edit', class: 'icon' %>
    <% end %>
  </div>
</div>

<div class="mb-3">
  <%= @event_task.description %>
</div>

<span>
  <%= t('.task')%>
  <%= t('.mandatory') if @event_task.mandatory? %> 
  <%= t('.optional') if @event_task.optional? %> 
</span>

<div class="mt-5">
  <% if @event_task.event_contents.any? %>
    <div>
      <strong><%= t('.attached_contents') %></strong>
      <div class="card_container">
        <% @event_task.event_contents.each do |content| %>
          <%= link_to(content, class: "card") do %>
            <div>
              <p class="card__title--2"><%= t('.content') %></p>
              <h3 class="card__title"><%= content.title %></h3>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% else %>
    <div>
      <strong> <%= t('.no_content_attetched')%> </strong>
    </div>
  <% end %>
</div>