<%= turbo_frame_tag 'modal' do %>
  <div class="modal">
    <div class="modal__overlay"></div>
    <div class="modal__content">
      <div class="modal__header">
        <h3><%= t('.title') %></h3>
        
        <%= link_to "#", data: {controller: 'modals', action: 'modals#close' }, title: 'Fechar', class: 'self-end' do %>
          <%= image_tag 'close_icon.png', id: 'close_icon', class: 'modal__icon' %>
        <% end %>
      </div>

      <%= form_with model: [ @curriculum, @curriculum_content ] do |f| %>

        <% if @event_contents.any? %>
          <div>
            <%= f.label :event_content_id %>
            <%= f.collection_select :event_content_id, @event_contents, :id, :title, {}, 
              { class: "model__select" } %>
        </div>

          <div class="mt-5 flex justify-end">
            <%= f.submit t('.save'), class: 'btn_primary' %>
          </div>
        <% else %>
          <div class="my-4">
            <b><%= t('.no_content') %></b>
          </div>
          
          <div>
            <%= link_to t('.new_content_link'), new_event_content_path, class: 'link_primary', data: { turbo: false } %>
          </div>
        <% end %>
      <% end %>
      </div>
 </div>
<% end %>