<div id="participant_list">
  <% if participants.present? %>
  <div class="mb-3">
    <h3><%= t('.participant_list') %></h3>
    <small><%= t('.participant_number') %>: <%= participants.count %></small>
  </div>
    <div class="participant_list">
      <% participants.each do |participant| %>
      <div class="flex gap-2">
        <%= image_tag 'participant.svg', class: 'icon' %>
        <p><%= participant.name %> <%= participant.last_name %></p>
      </div>
      <% end %>
    </div>
  <% else %>

  <div class="not-found-participants">
    <p><%= t('.no_participants') %></p>
  </div>
  <% end %>
</div>