<nav class="navbar <%= 'navbar--actived' if request.path != root_path %>">
  <div class="navbar_content">
    <%= link_to 'Palestra +', root_path, class: 'logo' %>

    <div class="flex">
      <%= link_to 'Início', root_path, class: 'nav-link-primary' %>
      <%= link_to "Como Funciona?", "#how_works", class: "nav-link-primary" if request.path == root_path %>

      <% if user_signed_in? %>
        <%= link_to 'Meus Conteúdos', event_contents_path, class: 'nav-link-primary' %>
        <%= link_to 'Tarefas', event_tasks_path, data: { turbo: false }, class: 'nav-link-primary' %>
        
        <div class="relative inline-block text-left" data-controller="dropdown">
          <%= button_tag class: "nav-link-primary gap-1", data: { action: "click->dropdown#toggle" } do %>
            <%= "Olá, #{current_user.full_name}" %> 
            <%= image_tag 'down_arrow.svg', class: 'w-3' %>
          <% end %>

          <div data-dropdown-target="menu" class="absolute right-0 w-48 bg-white border border-gray-300 rounded shadow-lg text-left hidden">
           <% if current_user.profile&.username.present? %>
              <%= link_to profile_path(username: current_user.profile.username), class: 'inline-block px-4 py-2 text-gray-700 hover:bg-gray-100' do %>
                <div class='flex items-center gap-1'>
                  <%= image_tag 'profile_icon.png', class: 'w-4' %>
                  Meu Perfil
                </div>
              <% end %>
              <hr class="border-gray-300">
            <% end %>
            <%= button_to destroy_user_session_path, method: :delete, class: 'inline-block w-full text-left px-4 py-2 text-gray-700 hover:bg-gray-100' do %>
              <div class='flex items-center gap-1'>
                <%= image_tag 'exit_icon.png', class: 'w-4'%>
                Sair
              </div>
            <% end %>
          </div>
        </div>
      <% else %>
        <%= link_to 'Criar conta', new_user_registration_path, class: 'nav-link-primary' %>
        <%= link_to 'Acesse sua conta', new_user_session_path, class: 'nav-link-primary' %>
      <% end %>
    </div>
  </div>
</nav>