<nav class="navbar <%= 'navbar--actived' if request.path != root_path %>">
  <div class="navbar_content">
    <p class="logo">Palestra +</p>
    <div class="flex">
      <%= link_to 'Home', root_path, class: 'nav_link_primary' %>
      <% if request.path == root_path %>
      <a href="#how_works" class="nav_link_primary">Como Funciona?</a>
      <% end %>
      <% unless user_signed_in? %>
        <%= link_to 'Criar conta', new_user_registration_path, class: 'nav_link_primary' %>
        <%= link_to 'Acesse sua conta', new_user_session_path, class: 'nav_link_primary' %>
      <% else %>
        <%= link_to 'Meus Conteúdos', event_contents_path, class: 'nav_link_primary' %>
        <% if current_user.profile.nil? || !current_user.profile.persisted? %>
          <%= link_to 'Cadastrar Perfil', new_profile_path, class: 'nav_link_primary' %>
        <% elsif current_user.profile.persisted? %>
          <%= link_to 'Meu Perfil', profile_path(username: current_user&.profile.username), class: 'nav_link_primary' %>
        <% end %>
        <%= link_to 'Tarefas', event_tasks_path, data:{turbo: false}, class: 'nav_link_primary' %>
        <%= button_to 'Sair', destroy_user_session_path, method: :delete, class: 'nav_link_primary' %>
      <% end %>
    </div>
  </div>
</nav>