<div> 
  <h1 class="mb-20"><%= t('.my_events') %></h1>
  <% if @events.any? %>
    <ul class="flex justify-center flex-wrap gap-6">
      <% @paginated_events.each do |event| %>
        <%= link_to event_path(event.code) do %>
          <%= event_card(event) %>
        <% end %>
      <% end %>
    </ul>
  <% else %>
    <p><%= t('.no_events') %></p>
  <% end %>
</div>
<div class="text-center mt-5">
  <%= paginate @paginated_events %>
</div>
