<div>
  <%= render 'event', event: @event %>

  <div data-controller="tabs" data-tabs-active-class="tab__btn--active" data-tabs-unactive-class="tab__btn--unactive" data-tabs-default-tab-value="tab1">
    <div class="tab__combo-btn">
      <button id="tab1" data-tabs-target="btn" data-action="click->tabs#select"><%= t('.my_schedules') %></button>
      <button id="tab2" data-tabs-target="btn" data-action="click->tabs#select"><%= t('.participant_list') %></button>
      <button id="tab3" data-tabs-target="btn" data-action="click->tabs#select"><%= t('.feedbacks') %></button>
    </div>

    <div data-tabs-target="tab" id="tab1">
      <%= render 'schedule_items/schedule_items', schedule_items: @schedule_items %>
    </div>

    <div data-tabs-target="tab" id="tab2">
      <%= render 'participants/participants', participants: @participants %>
    </div>

    <div data-tabs-target="tab" id="tab3">
      <%= render 'feedbacks/feedback_area', feedbacks: @feedbacks %>
    </div>
  </div>
</div>