<%= form_with(model: event_content, data: { turbo: false }) do |f| %>
  <div class="field">
    <%= f.label :title, class: 'label-primary' %>
    <%= f.text_field :title, class: 'field-primary' %>
    <% if event_content.errors[:title].any? %> 
      <span class="text-red-500 text-sm"><%= event_content.errors[:title].first %></span>
    <% end %>
  </div>

  <div>
    <%= f.label :description, class: 'label-primary'  %>
    <%= f.rich_textarea :description, class: 'text-area' %>
  </div>

  <% if event_content.files.attached? %>
    <div class="mt-5 mb-5">
      <strong>Arquivos jรก anexados:</strong>
      <% event_content.files.each do |file| %>
        <div>
          <%= file.filename %>
        </div>
      <% end %>
    </div>
  <% end %>

  <div class="mb-3">
    <%= f.label :files, 'Arquivos' %>
    <%= f.file_field :files, multiple: true %>
  </div>

  <%= f.submit class: 'btn-primary' %>
  <%= link_to 'Cancelar', event_content, class: 'btn-primary' %>
<% end %>
