<h2 class='heading-2'>Cadastre seus conteúdos</h2>

<%= render 'shared/errors', object: @event_content %>

<%= form_with(model: @event_content, data: { turbo: false }) do |f| %>
  <div>
    <%= f.label :title, class: 'label-primary' %>
    <%= f.text_field :title, class: 'field-primary' %>
  </div>

  <div>
    <%= f.label :description, class: 'label-primary'  %>
    <%= f.text_area :description, class: 'text-area' %>
  </div>

  <div>
    <%= f.label :files, 'Arquivos' %>
    <%= f.file_field :files, multiple: true %>
  </div>

  <%= f.submit class: 'btn-primary' %>
<% end %>