<h2 class="heading-2"><%= @event_content.title %></h2>

<div>
  <div>
    <%= @event_content.description %>
  </div>
  <div class="card_container p-20 mb-20 rounded-3xl">
    <% @event_content.files.each do |file| %>
      <% if file.content_type.starts_with?('image/') %>
        <%= image_tag file, width: 300, height: 200, class: 'card max-h-96' %>
      <% elsif file.content_type.starts_with?('video/') %>
        <%= video_tag url_for(file), controls: true, class: 'card max-h-96' %>
      <% elsif file.content_type == 'application/pdf' %>
        <%= link_to(url_for(file), target: '_blank', class: 'card max-h-96 flex flex-col justify-center items-center' ) do %>
          <%= image_tag("pdf.png", class: 'w-2/3 h-2/3') %>
          <p>Visualizar PDF: <%= "#{file.filename.to_s}" %></p>
        <% end %>
      <% else %>
        <%= link_to "Arquivo #{file.filename.to_s}", url_for(file), target: '_blank', class: 'card max-h-96' %>
      <% end %>
    <% end %>
  </div>
</div>