<div>
  <%= render 'shared/event_content_details', content: @event_content%>
</div>

<div>
  <% if @event_content.event_tasks.any? %>
    <div>
      <strong><%= t('.attached_to_tasks') %></strong>
      <div class="card_container mb-10">
        <% @event_content.event_tasks.each do |task| %>
          <%= link_to(task, class: "card") do %>
            <div>
              <p class="card_title_2"> <%= t('.task') %> </p>
              <h3 class="card_title"><%= task.name %></h3>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
  <% else %>
    <div> <%=t('.no_tasks_attached')%> </div>
  <% end %>
</div>