<div id="feedbacks" data-controller="modal">
  <% if feedbacks&.any? %>
    <button class="btn--success" style="width: 9rem;" data-action="click->modal#showModal"><%= t('.see_feedbacks') %></button>
    <dialog data-modal-target="modal" class="modal">
      <div class="modal__header">
        <h2><%= Feedback.model_name.plural.capitalize %></h2>
        <button class="close-btn" data-action="click->modal#closeModal">&times;</button>
      </div>
      <div class="modal__body">
        <% feedbacks.each do |feedback| %>
          <div class="feedback_card">
            <div class="feedback-header">
              <span><%= t('.user') %>: <%= feedback.name %></span>
              <strong><%= feedback.title %></strong>
            </div>
            <div class="feedback-body">
              <span>
                <%= feedback.description %>
              </span>
            </div>
          </div>
        <% end %>
      </div>
    </dialog>
  <% else %>
    <p class="not_found_feedback" ><%= t('.no_feedback') %></p>
  <% end %>
</div>
