<div id="feedbacks">
  <% if feedbacks&.any? %>
    <h2><%= t('.see_feedbacks') %></h2>
    <h2><%= Feedback.model_name.plural.capitalize %></h2>
    <div class="modal-body">
      <% feedbacks.each do |feedback| %>
        <div class="feedback-card">
          <div class="feedback-header">
            <span><%= t('.user') %>: <%= feedback.name %></span>
            <strong><%= feedback.title %></strong>
          </div>
          <div class="feedback-body">
            <span>
              <%= feedback.description %>
            </span>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="not-found-feedback" ><%= t('.no_feedback') %></p>
  <% end %>
</div>
