<div id="schedule_items">
  <h2><%= t('.schedule_items_title') %></h2>
  
  <% if schedules&.empty? %>
    <p><%= t('.no_schedule_items') %></p>
  <% else %>
    <div class="grid grid-cols-3 gap-1">
      <% schedules.each do |schedule, data| %>
        <div class="schedule-item__card">
          <h2 class="schedule-item__card-title"><%= formatted_date(schedule.date) %></h2>
          
          <% data.each do |item_data| %>
            <% item_data[:schedule_items].each do |item| %>
              <%= link_to schedule_item_path(item.code) do %>
                <div class="schedule_schedule_items-card">
                  <span><%= item.name %></span>
                  <span><b><%= ScheduleItem.human_attribute_name(:time) %>:</b>
                    <%= item.start_time.strftime("%H:%M") %> -
                    <%= item.end_time.strftime("%H:%M") %>
                  </span>
                </div>
              <% end %>
            <% end %>
          <% end %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
