<div id="schedule_items">
  <h2 class="heading-2 mt-3"><%= t('.schedule_items_title') %></h2>
  <% if @schedule_items&.empty? %>
    <p><%= t('.no_schedule_items') %></p>
  <% else %>
    <div class="grid grid-cols-2 gap-1">
    <% schedule_items.each do |schedule_item| %>
      <%= link_to schedule_item_path(schedule_item.id) do %>
        <div class="schedule_schedule_items-card grid p-2 border mb-2">
          <span><b><%= ScheduleItem.human_attribute_name(:title) %>:</b> <%= schedule_item.title %></span>
          <span class='truncate'><b><%= ScheduleItem.human_attribute_name(:start_time) %>:</b>
          <%= l(schedule_item.start_time.to_datetime, format: :brazilian) %> -
          <%= l(schedule_item.end_time.to_datetime, format: :brazilian_hour) %></span>
        </div>
      <% end %>
    <% end %>
    </div>
  <% end %>
</div>