<% turbo_page_requires_reload %>

<div class='border rounded p-3'>
  <div>
    <h1> <%= @schedule_item.name %> </h1>
    <span>
      <b><%= ScheduleItem.human_attribute_name(:time) %>: </b><%= @schedule_item.start_time.strftime("%H:%M") %> - <%= @schedule_item.end_time.strftime("%H:%M") %>
    </span>
    <span class= 'block'></span>
    <h2 class='mt-2'> <%= ScheduleItem.human_attribute_name(:description) %> </h2>
    <p> <%= @schedule_item.description %> </p>
    <%= render 'participants/participants', participants: @participants %>
  </div>
  
  <div>
    <div class='flex items-center justify-between mt-2'>
      <h2> <%= t('.curriculum_content_title')%> </h2>
      <%= link_to t('.new_curriculum_content_button'), new_curriculum_curriculum_content_path(@curriculum), data: { turbo_frame: 'modal' }, class: 'btn_primary' %>
    </div>
    
    <% if @curriculum.curriculum_contents.any? %>
      <% @curriculum.curriculum_contents.each do |content| %>
        <div>
          <%= link_to content.event_content.title, curriculum_curriculum_content_path(@curriculum, content), class: 'link_primary' %>
        </div>
      <% end %>
    <% else %>
      <div>
        <p><%= t('.no_curriculum_content') %></p>
      </div>
    <% end %>
  </div>

  <div>
    <div class='flex items-center justify-between mt-2'>
      <h2> <%= t('.curriculum_task_title')%> </h2>
      <%= link_to t('.new_curriculum_task_button'), new_curriculum_curriculum_task_path(@curriculum), data: { turbo_frame: 'modal' } , class: 'btn_primary' %>
    </div>
    <% if @curriculum.curriculum_tasks.any? %>
      <% @curriculum.curriculum_tasks.each do |task| %>
        <div>
          <%= link_to task.title, curriculum_curriculum_task_path(@curriculum, task), class: 'link_primary' %>
        </div>
      <% end %>
    <% else %>
      <div>
        <p><%= t('.no_curriculum_task') %></p>
      </div>
    <% end %>
  </div>
  <div>
    <h2><%= t('.schedule_feedbacks') %>: </h2>
     <% if @schedule_item_feedbacks %>
    <div class="modal-body">
      <% @schedule_item_feedbacks.each do |schedule_item_feedback| %>
        <div class="feedback-card border-2 bg-gray-200 my-3 p-2">
          <div class="feedback-header flex gap-2">
           
          </div>
          
          <div class="feedback-body">
            <div class="flex gap-2">
              <strong><%= schedule_item_feedback.title %></strong>
            </div>
            <span>
              <%= schedule_item_feedback.comment %>
            </span>
            <span class="flex gap-2">
              <% (1..5).each do |star| %>
                <% if star <= schedule_item_feedback.mark.floor %>
                  <span class="text-3xl text-yellow-400">★</span> 
                <% else %>
                  <span class="text-3xl text-gray-500">★</span>
                <% end %>
              <% end %>
            </span>
          </div>
        </div>
      <% end %>
    </div>
  <% else %>
    <p class="not_found_feedback" ><%= t('.no_feedback') %></p>
  <% end %>
  </div>
</div>