<% turbo_page_requires_reload %>

<div class='border rounded p-3'>
  <div>
    <h1><%= @schedule_item.name %></h1>
      <div class="flex gap-2 items-center mt-4 mb-4">
      <%= image_tag 'event-calendar.svg', class: 'icon' %>
      <span><%= full_date(@schedule_item.date) %></span>
    </div>
    <div class="flex gap-2 flex mt-5">
        <%= image_tag 'clock.svg', class: 'icon' %>
        <span>
          <%= @schedule_item.start_time.strftime("%H:%M") %> -
          <%= @schedule_item.end_time.strftime("%H:%M") %>
        </span>
      </div>

    <div class="mt-5">
      <span><b><%= ScheduleItem.human_attribute_name(:description) %>:</b> <%= @schedule_item.description %></span>
    </div>
  </div>
</div>

<div>
  <div data-controller="tabs" data-tabs-active-class="tab__btn--active" data-tabs-unactive-class="tab__btn--unactive" data-tabs-default-tab-value="tab1">
    <div class="tab__combo_btn">
      <button id="tab1" data-tabs-target="btn" data-action="click->tabs#select"><%= t('.my_curriculum') %></button>
      <button id="tab2" data-tabs-target="btn" data-action="click->tabs#select"><%= t('.participants_list') %></button>
      <button id="tab3" data-tabs-target="btn" data-action="click->tabs#select"><%= t('.feedbacks') %></button>
    </div>

    <div data-tabs-target="tab" id="tab1">
      <%= render 'schedule_items/curriculum_schedule', curriculum: @curriculum %>
    </div>

    <div data-tabs-target="tab" id="tab2">
      <p>Em breve</p>
    </div>

    <div data-tabs-target="tab" id="tab3">
      <%= render 'schedule_items/feedback_area', feedbacks: @schedule_item_feedbacks %>
    </div>
  </div>
</div>

<script>
  localStorage.removeItem('selectedTab');
</script>