<div class='border rounded p-3'>
  <h1 class='heading-1'> <%= @schedule_item.title %> </h1>
  <h3 class='heading-3 font-bold inline'> Data/Hora:</h3>
  <h3 class='heading-3 inline'> <%= l(@schedule_item.start_time.to_datetime, format: :brazilian) %> </h3>
  <span class= 'block'></span>
  <p class= 'font-bold inline'> Número estimado de participantes:</p>
  <p class= 'inline'> <%= @schedule_item.length %> </p>
  <h2 class='heading-2'> Descrição </h2>
  <p> <%= @schedule_item.description %> </p>
</div>

<div>
  <% if @participants.present? %>
    <h3>Lista de Participantes</h3>
    <% @participants.each do |participant| %>
      <strong>Nome: </strong><p><%= participant.name %></p>
    <% end %>
  <% else %>
    <p>Não foram localizados Participantes para está agenda</p>
  <% end %>
</div>
