<div class="flex items-center justify-center relative h-full w-full">
  <div class="mr-12 w-1/3">
    <h2 class="text-center">Crie sua conta</h2>
    <% unless resource.errors.any? %>
      <%= image_tag 'sign_up.png', class: 'w-96' %>
    <% else %>
      <%= render "users/shared/error_messages", resource: resource %>
    <% end %>
    
    <div class="flex items-center justift-end p-2">
      <%= render "users/shared/links" %>
    </div>
  </div>

  <div class="flex justify-center mt-12 w-1/3">
    <%= image_tag 'background-form.png', class: 'form_background' %>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => {:class => 'w-9/12'}) do |f| %>
      <div class="field m-0">
        <%= f.label :first_name, class: 'label_primary' %><br />
        <%= f.text_field :first_name, autofocus: true, class: 'field_primary' %>
      </div>

      <div class="field m-0">
        <%= f.label :last_name, class: 'label_primary' %><br />
        <%= f.text_field :last_name, class: 'field_primary' %>
      </div>

      <div class="field m-0">
        <%= f.label :email, class: 'label_primary' %><br />
        <%= f.email_field :email, autocomplete: "email", class: 'field_primary' %>
      </div>

      <div class="field m-0">
        <%= f.label :password, class: 'label_primary' %>
        <% if @minimum_password_length %>
          <em style = "font-size: 12px;">(<%= @minimum_password_length %> caracteres mínimos)</em>
        <% end %>
        <%= f.password_field :password, autocomplete: "new-password", class: 'field_primary' %>
      </div>

      <div class="field m-0">
        <%= f.label :password_confirmation, class: 'label_primary' %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'field_primary' %>
      </div>

      <%= f.submit "Cadastrar", class: 'btn--success mt-8' %>
    <% end %>
  </div>
</div>